{{!-- Form + Details of New Room that will be added --}}
<h2 class="new-room-heading">Adding A New Room!</h2>

        {{#each err}}
        <div class="errz">
            {{this}}
        </div>
            <br>
        {{/each}}

<form action="/newRoom" method="post" enctype="multipart/form-data">

<div class="newRoom">

<div class="bg-img">

</div>

    <div class="left-side">

    <div class="info">
        <p>Any Questions?</p>
        <p>Call us:</p>
        <p>@</p>
        <p>555-555-5555</p>
    </div>

    </div>

    <div class="right-side">




    <div>
    <label for="">Name of Airbnb</label>
    <input type="text" name="name" id="" placeholder="Party Lounge">
    <br>
    </div>

<div>
    <label for="">Location</label>
    <input type="text" name="location" id="" placeholder="223 Dundas Street">
    <br>
</div>


<div>
    <label for=""># of Rooms</label>
    <input type="number" name="roomz" id="" placeholder="Ex. 5">
    <br>
</div>

<div>
    <label for=""># of Beds</label>
    <input type="number" name="bedz" id="" placeholder="Ex. 8">
    <br>
</div>

<div>
    <label for=""># of Bathrooms</label>
    <input type="number" name="bathrooms" id="" placeholder="Ex. 4">
    <br>
</div>

<div>
    <label for=""># of Floors</label>
    <input type="number" name="floors" id="" placeholder="Ex. 2">
    <br>
</div>

<div>
    <label for="">Max # of Guests</label>
    <input type="number" name="guests" id="" placeholder="Ex. 6">
    <br>
</div>

<div>
    <label for="">Price</label>
    <input type="number" name="price" id="" placeholder="$199">
    <br>
</div>


<div id="pix" class="grid-area">
    <label for="">Pictures</label>
    <input type="file" name="roomPic" id="pic">
    <br>
</div>

<div class="grid-area">
    <button type="submit">Add Room</button>
</div>

</div>

</div>



</form>