<div class="box">
{{#each local}}
<div class="imgz">
    <a href="/info/{{this._id}}"><img src="/img/{{this.roomPic}}" alt=""></a>
    <a href="/info/{{this._id}}"><button id="infoz">Show info</button></a>
</div>
{{/each}}
</div>
