<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> --}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
   <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/{{sty}}">
    <title>{{{ttl}}}</title>
</head>
<style>

</style>

<body>
    

<nav class="list">

    <a href="/"><img src="img/bnbbruh.png" alt="" width="80px"></a>
    

        {{!-- <input type="text" class="inp" placeholder="Search hotels...">
        <button class="search-hotel">Search!</button> --}}


    <i class="fas fa-bars" id="barz"></i>
         
    <ul class="chng">
        <li><a href="/">Home</a></li>
        <li><a href="room">Rooms</a></li>
        
        {{#if admin}}
        <li><a href="manager">Manage Rooms</a></li>
        {{/if}}


        {{#if user}}
        <li><a href="dashboard">Dashboard</a></li>
        <li><a href="logout">Logout</a></li>
        {{/if}}


{{#unless user}}
        <li><a href="register">Sign Up</a></li>
        <li><a href="login">Login</a></li>
{{/unless}}

        {{!-- {{#if admin}}
            <li><a href="logout">Admin Dashboard</a></li>
        {{/if}} --}}
    </ul>

</nav>

<section>
    {{{body}}}
</section>


<div class="main">
    <br>
    <br>
</div>

<footer>

<div class="low">

<!-- DIV #1 -->
<div class="main-div">
    <div class="square">
        <h3 class="head3">Airbnb</h3><i class="fas fa-plus" id="plus1"></i><i class="fas fa-minus" id="minus1"></i>
        </div>

<div class="top-space">
        <li>Careers</li>
        <li>News</li>
        <li>Policies</li>
        <li>Help</li>
</div>

</div>

<!-- DIV #2 -->
<div class="main-div">
    <div class="square">
        <h3 class="head3">Discover</h3><i class="fas fa-plus" id="plus2"></i><i class="fas fa-minus" id="minus2"></i>
        </div>

<div class="middle-space">
       <li>Trust & Safety</li>
       <li>Travel Credit</li>
       <li>Airbnb Citizen</li>
       <li>Business Travel</li>
</div>

</div>

<!-- DIV #3 -->
<div class="main-div">
    <div class="square">
        <h3 class="head3">Hosting</h3><i class="fas fa-plus" id="plus3"></i><i class="fas fa-minus" id="minus3"></i>

        </div>

<div class="bottom-space">
    <li>Why Host</li>
    <li>Hospitality</li>
    <li>Responsible Hosting</li>
    <li>Community Center</li>
</div>

</div>

{{!-- div 4 --}}
<div class="icons main-div">
    <i class="fab fa-twitter" id="foot"></i><i class="fab fa-facebook" id="foot"></i><i class="fab fa-instagram" id="foot"></i>
    <div class="last-space">
    <li>Terms</li>
    <li>Privacy</li>
    <li>Site Map</li>
    </div>
</div>


</div>

<hr>
</footer>

{{!-- How come below stuff works after i add '/' before js --}}
<script src="/js/main.js"></script> 
<script src="/js/nav.js"></script>

</body>
</html>