<div class="contain">


<div class="bg-img">

<div class="main-top">

    <div class="book">

        <div class="title">
            <h1>Book A Room Today</h1>
            <i class="fas fa-arrow-right" style="color: white"></i>
        </div>

<!-- Grouping in paragraphs is important so that Grid can identify whats 1 fraction/2 fraction -->

<div class="form">
    
        <form>

        <p>
            <label for="">Where</label>
            <br>
            <input type="text" placeholder="Anywhere">
        </p>

        <p>
            <label for="">Check In</label>
            <br>
            <input type="date">
        </p>

        <p>
            <label for="">Check Out</label>
            <br>
            <input type="date">
        </p>

        <p>
            <label for="">Enter # of Guests</label>
            <br>
            <select name="" id="">
                <option value="">Number of Guests</option>
                <option value="">1 Guest</option>
                <option value="">2 Guests</option>
                <option value="">3 Guests</option>
                <option value="">4 Guests</option>
                <option value="">5 Guests</option>
                <option value="">6+ Family</option>
            </select>
        </p>

        
            <a href="#"><button class="btn-srch">Search!</button></a>
    </form>
    
    </div>



    </div>



</div>

</div>

<br>


<br>

<section class="quality"> 
    {{!-- Add qualities of airbnb using font-awesome --}}

    <div class="inner">

    <div class="q1">
        <i class="fas fa-road" id="web"></i>
        <p>Do you need a ride to get to your Airbnb? We have you covered! Just click the icon to book your vehicle now!</p>
    </div>



    <div class="q2">
        <i class="fas fa-calendar-day" id="web"></i>
        <p>We make sure all things are delivered on time to our customers to provide the top notch service!</p>
    </div>



    <div class="q3">
        <i class="fas fa-hotel" id="web"></i>
        <p>Our hotels and apartments are proven to be high quality without any problems!</p>
    </div>

    </div>

</section>


<div class="main">
    <br>
    <br>
</div>

<br>


<aside class="places">
    <h1>Travel The World!</h1>
    <div class="grid">
    <img src="img/paris.jpg" alt="" class="place" id="par">
    <img src="img/pak.jpg" alt="" class="place" id="pak">
    <img src="img/rome.jpg" alt="" class="place" id="rom">
    <img src="img/autr.jpg" alt="" class="place" id="aus">
    {{!-- <img src="img/six.jpg" alt="" class="place" id="six"> --}}
    </div>
</aside>
<br>

<div class="main">
    <br>
    <br>
</div>

<div class="info">

<h1>Get to know us!</h1>

<div class="vid">

<video class="air-vid" controls>
  <source src="videos/air.mp4" type="video/mp4" class="video">
</video>

</div>

</div>



</div>