/* img
{
    width: 300px;
    height: 200px;
    padding: 20px;
} */

body
{
    color: black;
}

h1
{
    text-align: center;
}

p
{
    text-align: center;
    margin: px 0px;
    text-align: center;
    color: black;
}

table
{
    text-align: center;
    margin: 0 auto;
}

td:nth-child(2)
{
    padding: 2em;
    font-weight: bold;
}

#butn
{
    padding: 12px;
    border-radius: 6px;
    display: flex;
    margin: 0em auto 2em auto;
}

a
{
    text-decoration: none;
}

#air-img
{
    /* display: none; */
    height: 80px;
    width: 80px;
}

@media(max-width: 800px)
{
    img
    {
        width: 300px;
        height: 200px;
        
    }

}