.list
{
    padding-top: 25px;
}

/* img
{
    width: 300px;
    height: 200px;
    padding: 20px;
} */

body
{
    text-align: center;
    color: black;
}

p
{
    margin: px 0px;
    text-align: center;
    color: black;
}

table
{
    margin: 0 auto;
}

td:nth-child(2)
{
    padding: 2em;
    font-weight: bold;
}

@media(max-width: 800px)
{
    img
    {
        width: 300px;
        height: 200px;
        padding: 20px;
    }
}