*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: cursive;
}

ul
{
    display: flex;
    list-style: none;
    color: white;
}

.list
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ff5a5f;
}

.list > i
{
    display: none;
}

ul > li > a
{
    color: white;
    text-decoration: none;
    padding: 0px 1em;
}

form > .inp, .btn
{
    padding: 6px;
    border-radius: 1em;
}

.inp
{
    flex: 0.85;
    border-radius: 0.3em;
    padding: 0.5em;
    margin: 1em;
    border: none;
}

footer
{
    bottom: 0%;
    text-align: center;
    font-weight: bold;
    background-color: white;
    padding: 1.5em;
}

button
{
    border: none;
}

.srch:hover
{
    cursor: pointer;
    background-color: pink;
    color: black;
    transition: 1s all ease-in-out;
}

.low
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 80%;
    padding: 0px 15px 0px 15px;
    margin: 0 auto;
}

.list
{
    padding-bottom: 20px;
}

div li
{
    list-style: none;
    color: #bbb;
    font-size: 0.9em;
    margin: 7px 0px;
}


div .head3
{
    color: #555;
    font-size: 1.1em;
}

.top-space
{
    margin-top: 1.2em;
}

i
{
    margin: 0px 5px;
    font-size: 18px;
}

hr
{
    width: 80%;
    margin: 0 auto;
}

h3
{
    font-weight: bold;
}

.main
{
    background-color: #eee;
}


i#foot:hover
{
    cursor: pointer;
    color: lightgray;
    transition: 0.5s all ease-in-out;
}

.list > i:hover
{
    cursor: pointer;
}

.inp
{
    display: none;
}

.srch
{
    display: none;
}

.search-hotel
{
    flex: 0.15;
    border-radius: 1em;
    padding: 0.6em;
    margin: 1em;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}


.search-hotel:hover
{
    cursor: pointer;
    background-color: pink;
    color: black;
    transition: 1s all ease-in-out;
}


.search-hotel
{
    display: none;
}


/* Editing the login and button */
.user-name
{
    flex: 0.30;
}

.pass-word
{
    flex: 0.30;
}

.log-in
{
    flex: 0.10;
}

.user-name, .pass-word
{
    border-radius: 5px;
    border: lightgray 1px solid;
    padding: 0.4em;
}

.log-in
{
        border-radius: 5px;
        padding: 0.4em;
}

.log-in:hover
{
    cursor: pointer;
    background-color: lightpink;
    transition: all 0.5s ease-in-out;
}

.list a:hover
{
    color: black;
    cursor: pointer;
}

#head-1
{
    padding: 50px;
    margin: 100px 0px;
    text-align: center;
}

footer > div li:hover
{
    color: black;
    border-bottom: 3px solid black;
    padding-bottom: 7px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}


i#plus1, i#plus2, i#plus3
{
    display: none;
}


@media(max-width: 800px) 
{
        
    *
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    i#plus1, i#plus2, i#plus3
    {
        display: block;
    }

    i#foot
    {
        padding: 20px;
    }

    #plus:hover
    {
        cursor: pointer;
    }
    
    
    .list > i
    {
        display: block;
    }

    .list
    {
        flex-direction: column;
    }

    
    .list
    {
        padding-bottom: 30px;
    }


    ul > li
    {
        flex-direction: column;
        text-align: center;
        border-left: 2px solid black;
    }


    ul a
    {
        font-size: 1.2em;
        font-weight: bold;
        letter-spacing: 0.2em;
        font-variant: small-caps;
    }

    .user-name
    {
        display: none;
    }

    .pass-word
    {
        display: none;
    }

    .log-in
    {
        display: none;
    }


    .low
    {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 80%;
        padding: 0px 15px 0px 15px;
        margin: 0 auto;
    }


    .top-space
    {
        display: none;
    }

    .middle-space
    {
        display: none;
    }

    .bottom-space
    {
        display: none;
    }

    .last-space li
    {
        display: none;
    }



    div > i#plus1, i#plus2, i#plus3
    {
        float: right;
        margin-top: -20px;
    }

    #plus1:hover, #plus2:hover, #plus3:hover
    {
        cursor: pointer;
    }

    .square
    {
        border: 2px solid black;
        padding: 6px;
    }

    .show
    {
        display: block;
    }


}

