h2
{
    text-align: center;
    padding: 0.5em 0em;
}

body
{
    background-color: rgba(255, 90, 95, 0.5);
}

.bg-img
{
    /* Add a background-image */
    position: absolute;
    background-image: url('https://cache.desktopnexus.com/thumbseg/2465/2465472-bigthumbnail.jpg');
    background-position: center;
    background-size: 120px; /* specifies size of background image [cover will make image MAD LARGE!] */
    background-repeat: repeat;
    width: 100%;
    /* height: 790px;
    z-index: -1;
    opacity: 0.20; */
    margin-top: -6em;
}

footer
{
    min-height: 180px;
}

.newRoom
{
    text-align: center;
    margin: 20px auto 50px auto;
    display: grid;
    grid-template-columns: 25% 75%;
    width: 75%;
}

.left-side
{
    background-color: #444;
    color: white;
}

.info
{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    min-height: 500px; 
}


.right-side
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: skyblue;
    padding: 2em;
    grid-gap: 30px;
}

.right-side label
{
    display: block;
    margin-top: 1em;
    font-weight: bold;
}

.right-side input
{
    width: 100%; /* this means the input should occupy all space it has */
    border: 1px solid black;
    border-radius: 4px;
}


input
{
    padding: 0.5em;
}

.grid-area
{
    grid-column: 1/3;
}

.right-side button
{
    width: 100%;
    padding: 6px;
    border: 1px solid black;
}

#user-logged
{
    display: none;
}

.errz
{
    
    background-color: lightpink;
    color: red;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 0.5em;
    margin: 10px auto;
    font-weight: bold;
    width: 50%;
}

@media(max-width: 800px)
{
    .newRoom
    {
        display: block;
    }

    .info
    {
        min-height: 150px; 
    }

    .right-side
    {
        display: block;
        
    }

    .right-side label
    {
        display: inline-block;
    }

    .right-side
    {
        padding: 2em;
    }


    .right-side button
    {
        margin-top: 1em;
        margin-left: 0.5em;
    }

}