body
{
    overflow-x: hidden;
}

.contact form .grid-time
{
    display: block;
    max-width: 70%;
}

.contact
{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 6em;
    background-color: #eee;
    margin-top: -22px;
}

#sign
{
    margin-top: 2em;
}


.about-airbnb
{
    margin-top: 2.5em;
    margin-left: 8.5em;
    max-width: 70%;
}


.contact form .grid-area
{
    grid-column: 1/3; 
    /* Specifies which column each item should be placed in, (goes vertically) */
    /* grid-row: 9; Specifies which row the items should be in, (goes up and down ) */
}

.contact form button, .contact form input
{
    width: 100%;
    /* padding: 6px; */
}

.contact form button
{
    margin-left: -4px;
}

form .field
{
    padding: 0.5em;
    margin: 12px 0px;
}

form .field input
{
    padding: 0.8em;
    border-radius: 0.3em;
    border: lightslategrey 1px solid;
}

::placeholder
{
    font-weight: 600;
}

form .field button
{
    border-radius: 5px;
}

h4
{
    margin-left: 4px;
    margin-top: 0.6em;
}

#sign
{
    background-color: #ff5a5f;
    border-radius: 5px;
    padding: 0.5em;
    color: white;
}

.head2
{
    margin-top: 0.3em;
    text-align: left;
    font-size: 3em;
    margin-bottom: -1em;
}

.grid-area > a > button:hover
{
    background-color: #ff5a5f;
    color: white;
    cursor: pointer;
    transition: 1s all ease-in-out;
}

div.flex
{
    display: flex;
    justify-content: center;
    align-items: center; 
    align-content: center;   
}

select
{
    margin: 0 auto;
    text-align: center;
    padding: 0.8em;
    margin-top: 1.1em;
}

h1
{
    font-size: 2.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    max-width: 80%;
}

.head2
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

/* Editing icon stuff */

.about-airbnb h1
{
    margin-bottom: 1.5em;
}

p
{
    margin: 3em 0em;
}

p > i
{
    font-size: 2.5em;
    vertical-align: sub;
    color: lightslategray;
}

span#bold
{
    font-weight: bold;
}


.errz
{
    background-color: lightpink;
    color: red;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 0.5em;
    margin: 10px 0px;
    font-weight: bold;
    width: 50%;
    margin-left: 5em;
}


p ~ p
{
    margin: -5px 0px;
}

#err
{
    margin: -15px 0px;
}

.pass-err, .email-err, .c-passwrd, .f-err, .l-err, .usr-err, .cpass-err, .adrs-err
{
    display: none;
    color: red;
}

#sign:disabled {
  background-color: lightgray;
  color: #666;
  cursor: not-allowed;
}


.about-us p:nth-child(3)
{
    margin-top: 50px;
}

#lname
{
    margin-top: -1em;
}

@media(max-width:800px)
{
    *
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .contact form
    {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
    }

    .contact form label
    {
        font-weight: bold;
    }

    .contact form input
    {
        border-radius: 5px;
        border: black 1px solid;
        padding: 0.8em;
    }

    .about-airbnb
    {
        display: none;
    }

    .contact
    {
        display: grid;
        grid-template-columns: 100%;
    }


    .contact form .grid-time
    {
        display: block;
        max-width: 90%;
    }

    #sign
    {
        margin-top: 1em;
    }

    
    .errz
    {
        background-color: lightpink;
        color: red;
        border: 1px solid black;
        border-radius: 10px;
        text-align: center;
        padding: 0.5em;
        margin: 10px 0px;
        font-weight: bold;
        width: 80%;
        margin-left: 25px;
    }

    .head2
    {
        margin-top: 0.6em;
        font-size: 2em;
        margin-bottom: -1.4em;
    }

    .ad-err, .desc, .passwrd, .desc-eml, .c-passwrd, .f-err, .l-err
    {
        width: 90%;
        text-align: left;
        color: red;
    }

    form
    {
        padding: 30px;
    }

}

@media(max-width: 885px)
{
    h4
    {
        font-size: 0.9em;
    }
}