h1
{
    text-align: center;
    font-size: 3em;
    margin: 1em 0em 1em 0em;
}


.box
{
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    /* When dealing with flex/grid, use bottom 2 methods to align the items to the middle */
    align-items: center;
    justify-items: center;
    padding: 1em;
}

.imgz img
{
    width: 100%;
    height: 100%;
    max-width: 300px;
    margin: auto;
}

.list
{
    padding-bottom: 5px;
}


.htl:hover {
    cursor: pointer;
    transition: all 1s ease-in-out;
  }

  .box > div
  {
      border: 2px solid black;
      border-radius: 0.3em;
  }
  
  .txt1
  {
      margin-left: 0.5em;
  }
  
  .inp
{
    display: block;
}

.srch
{
    display: block;
}

.user-name
{
    display: none;
}

.pass-word
{
    display: none;
}

.log-in
{
    display: none;
}

.search-hotel
{
    display: block;
}

#newRm
{
    padding: 0.5em;
    margin: 2.5em auto;
    display: flex;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 2em;
}

#room-link
{
    text-decoration: none;
}

#newRm:hover
{
    cursor: pointer;
    background-color: #ff5a5f;
    color: white;
    transition: all 0.4s ease-in-out;
}

/* button#btn
{
    width: 80%;
    padding: 2px;
    margin: 10px auto;
} */

#del
{
    width: 100%;
    padding: 0.3em;
}

#edit, #book
{
    width: 94%;
    margin-left: 8px;
    padding: 0.3em;
    margin-bottom: 0.2em;
}


form
{
    padding: 0.5em;
}

#user-logged
{
    display: none;
}

#bruh
{
    text-align: center;
    margin-bottom: 2em;
    margin-top: 1em;
    padding: 20px;
}

#infoz
{
    margin: 0 auto;
    width: 94%;
    margin: 5px 0px 10px 9px;
    padding: 0.3em;
}



@media(max-width: 800px)
{
    .high1
    {
        font-size: 1.5em;
    }

    .box
    {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 600px)
{
    .box
    {
        grid-template-columns: repeat(1, 1fr);
    }

}