h1
{
    text-align: center;
    font-size: 3em;
    margin: 1em 0em 1em 0em;
}

.box
{
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    /* When dealing with flex/grid, use bottom 2 methods to align the items to the middle */
    align-items: center;
    justify-items: center;
    padding: 1em;
}

.imgz img
{
    width: 100%;
    height: 100%;
    max-width: 300px;
    margin: auto;
}

.list
{
    padding-bottom: 5px;
}


.htl:hover {
    transform: scale(1.1); 
    transition: all 0.7s ease;
    cursor: pointer;
    transition: all 1s ease-in-out;
    margin-bottom: 16px;
    margin-top: 10px;
    margin-right: 5px;
  }

  .box > div
  {
      border: 2px solid black;
      border-radius: 0.3em;
  }
  
  .txt1
  {
      margin-left: 0.5em;
  }
  
  .inp
{
    display: block;
}

.srch
{
    display: block;
}

.user-name
{
    display: none;
}

.pass-word
{
    display: none;
}

.log-in
{
    display: none;
}

.search-hotel
{
    display: block;
}



@media(max-width: 800px)
{
    .high1
    {
        font-size: 1.5em;
    }

    .box
    {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 600px)
{
    .box
    {
        grid-template-columns: repeat(1, 1fr);
    }

}