{{!-- Login page for user --}}
<div class="whole-page">

<h1>User Login</h1>

<br>


{{#each err}}
<div class="errz">
    {{this}}
</div>
{{/each}}

    
<form action="/user/login" method="post">

<div id="log">

    <p>
        <label for="">Username</label>
        <br>
        <input type="text" placeholder="Username" name="usr" id="user">
    </p>

    <p>
        <label for="">Password</label>
        <br>
        <input type="password" placeholder="Password" name="pass" id="pass">
    </p>

    <button type="submit" id="log-button">Login</button>

</div>

</form>


</div>