{{!-- Login page for user --}}
<h1>User Login</h1>

{{!-- {{#each err}}

    {{this}}

{{/each}} --}}

<form action="/user/login" method="post">

    <p>
        <label for="">Username</label>
        <input type="text" placeholder="Username" name="usr">
    </p>

    <p>
        <label for="">Password</label>
        <input type="password" placeholder="Password" name="pass">
    </p>

    <button type="submit">Login</button>

</form>
